<form action="/answer">
<h2>Ask you coach anything</h2>
  <input type="text" name="questions"
  value="<%= params[:questions] %>"
  placeholder="Your question">
  <input type="submit" value="Ask!">
</form>